<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/build-service/1-0/index.html"><strong>Tanzu Build Service</strong></a>
      </li>
      <li>
        <a href="/build-service/1-0/installing.html"><strong>Installing Tanzu Build Service</strong></a>
      </li>
      <li>
		<a href="/build-service/1-0/accessing-tbs.html"><strong>Accessing Tanzu Build Service</strong></a>
	  </li>
      <li>
        <a href="/build-service/1-0/updating-deps.html"><strong>Updating Tanzu Build Service Dependencies</strong></a>
      </li>
      <li class="has_submenu">
        <span role="button"><strong>Managing Secrets</strong></span>
        <ul>
          <li>
			<a href="/build-service/1-0/secrets-in-tbs.html"><strong>Secrets in Tanzu Build Service</strong></a>
		  </li>
		  <li>
			<a href="/build-service/1-0/managing-secrets.html"><strong>Managing Secrets</strong></a>
		  </li>
        </ul>
      </li>
      <li>
	    <a href="/build-service/1-0/managing-images.html"><strong>Managing Images and Builds</strong></a>
	  </li>
	  <li class="has_submenu">
        <span role="button"><strong>Managing Dependencies</strong></span>
        <ul>
          <li>
            <a href="/build-service/1-0/managing-stacks.html"><strong>Managing Stacks</strong></a>
          </li>
          <li>
            <a href="/build-service/1-0/managing-stores.html"><strong>Managing Stores</strong></a>
          </li>
        </ul>
	  </li>
	  <li>
		<a href="/build-service/1-0/managing-builders.html"><strong>Managing Builders</strong></a>
	  </li>
	  <li>
	    <a href="/build-service/1-0/tbs-with-projects.html"><strong>RBAC in Tanzu Build Service</strong></a>
	  </li>
      <li>
        <a href="/build-service/1-0/faq.html"><strong>Frequently Asked Questions</strong></a>
      </li>
      <li>
        <a href="/build-service/1-0/release-notes.html"><strong>Release Notes</strong></a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
