<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
        <li>
            <a href="/build-service/0-1-0/index.html"><strong>Tanzu Build Service (Beta)</strong></a>
        </li>
        <li>
            <a href="/build-service/0-1-0/installing.html"><strong>Installing Tanzu Build Service</strong></a>
        </li>
        <li>
            <a href="/build-service/0-1-0/updating-deps.html"><strong>Updating Tanzu Build Service Dependencies</strong></a>
        </li>
        <li class="has_submenu">
            <a href="/build-service/0-1-0/using.html"><strong>Using Tanzu Build Service</strong></a>
            <ul>
                <li>
                    <a href="accessing-tbs.html">Accessing Tanzu Build Service</a>
                </li>
                <li>
                    <a href="managing-stack.html">Managing the Stack</a>
                </li>
                <li>
                    <a href="managing-store.html">Managing the Store</a>
                </li>
                <li>
                    <a href="managing-projects.html">Managing Projects</a>
                </li>
                <li>
                    <a href="managing-builders.html">Managing Builders</a>
                </li>
                <li>
                    <a href="managing-secrets.html">Managing Secrets</a>
                </li>
                <li>
                    <a href="managing-images.html">Managing Images and Builds</a>
                </li>
                <li>
                    <a href="tbs-without-projects.html">Using Tanzu Build Service Without Projects</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/build-service/0-1-0/secrets-in-tbs.html"><strong>Secrets in Tanzu Build Service</strong></a>
        </li>
        <li>
            <a href="/build-service/0-1-0/release-notes.html"><strong>Release Notes</strong></a>
        </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
