<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/build-service/1-1/index.html"><strong>Tanzu Build Service Overview</strong></a>
      </li>
      <li class="has_submenu">
	    <span role="button"><strong>Installation</strong></span>
	    <ul>
		  <li>
		    <a href="/build-service/1-1/installing.html">Installing Tanzu Build Service</a>
		  </li>
		  <li>
		    <a href="/build-service/1-1/getting-started.html">Getting Started with Tanzu Build Service</a>
		  </li>
	    </ul>
	  </li>
      <li>
		<a href="/build-service/1-1/accessing-tbs.html"><strong>Accessing Tanzu Build Service</strong></a>
	  </li>
      <li>
        <a href="/build-service/1-1/updating-deps.html"><strong>Updating Tanzu Build Service Dependencies</strong></a>
      </li>
      <li class="has_submenu">
        <span role="button"><strong>Managing Secrets</strong></span>
        <ul>
          <li>
			<a href="/build-service/1-1/managing-secrets.html">Managing Secrets</a>
		  </li>
		  <li>
			<a href="/build-service/1-1/synced-secrets.html">Synced-Secrets in Tanzu Build Service</a>
		  </li>
        </ul>
      </li>
      <li>
	    <a href="/build-service/1-1/managing-images.html"><strong>Managing Images and Builds</strong></a>
	  </li>
	  <li class="has_submenu">
        <span role="button"><strong>Managing Dependencies</strong></span>
        <ul>
          <li>
            <a href="/build-service/1-1/managing-stacks.html">Managing ClusterStacks</a>
          </li>
          <li>
            <a href="/build-service/1-1/managing-stores.html">Managing ClusterStores</a>
          </li>
        </ul>
	  </li>
	  <li>
		<a href="/build-service/1-1/managing-builders.html"><strong>Managing Builders</strong></a>
	  </li>
	  <li>
	    <a href="/build-service/1-1/tbs-with-projects.html"><strong>RBAC in Tanzu Build Service</strong></a>
	  </li>
      <li>
        <a href="/build-service/1-1/faq.html"><strong>Frequently Asked Questions</strong></a>
      </li>
      <li>
        <a href="/build-service/1-1/additional-resources.html"><strong>Additional Resources</strong></a>
      </li>
      <li>
        <a href="/build-service/1-1/release-notes.html"><strong>Release Notes</strong></a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
