<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/build-service/0-2-0/index.html"><strong>Tanzu Build Service (Beta)</strong></a>
      </li>
      <li>
        <a href="/build-service/0-2-0/installing.html"><strong>Installing Tanzu Build Service</strong></a>
      </li>
      <li>
        <a href="/build-service/0-2-0/updating-deps.html"><strong>Updating Tanzu Build Service Dependencies</strong></a>
      </li>
      <li class="has_submenu">
        <span role="button"><strong>Using Tanzu Build Service</strong></span>
        <ul>
          <li>
            <a href="/build-service/0-2-0/using.html"><strong>Using Tanzu Build Service</strong></a>
          </li>
          <li>
            <a href="/build-service/0-2-0/accessing-tbs.html">Accessing Tanzu Build Service</a>
          </li>
          <li>
            <a href="/build-service/0-2-0/managing-stack.html">Managing the Stack</a>
          </li>
          <li>
            <a href="/build-service/0-2-0/managing-stores.html">Managing Stores</a>
          </li>
          <li>
            <a href="/build-service/0-2-0/managing-projects.html">Managing Projects</a>
          </li>
          <li>
            <a href="/build-service/0-2-0/managing-builders.html">Managing Builders</a>
          </li>
          <li>
            <a href="/build-service/0-2-0/managing-secrets.html">Managing Secrets</a>
          </li>
          <li>
            <a href="/build-service/0-2-0/managing-images.html">Managing Images and Builds</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/build-service/0-2-0/secrets-in-tbs.html"><strong>Secrets in Tanzu Build Service</strong></a>
      </li>
      <li>
        <a href="/build-service/0-2-0/faq.html"><strong>Frequently Asked Questions</strong></a>
      </li>
      <li>
        <a href="/build-service/0-2-0/configure-oidc.html"><strong>Configuring PKS as an OIDC Provider</strong></a>
      </li>
      <li>
        <a href="/build-service/0-2-0/release-notes.html"><strong>Release Notes</strong></a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
